@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@layer components {
   .xy-centered-view-container {
      @apply w-[100vw] h-[100vh] bg-white flex justify-center items-center relative overflow-x-hidden overflow-y-scroll;
   }
   .x-padded-centered-container {
      @apply w-[100vw] h-full xl:px-32 lg:px-24 md:px-20 sm:px-16 px-12;
   }

   .top-nav-container {
      @apply w-full flex items-center justify-center border-b-black border-[2px] h-16 md:h-20 xl:h-24 bg-yellow-200 absolute top-0 left-0 z-10;
   }
   .top-nav-padded-container {
      @apply w-full flex items-center justify-between h-full;
   }

   .simple-card-container {
      @apply xl:min-w-[460px] md:min-w-[400px] min-w-[360px] xl:min-h-80 md:min-h-72 min-h-64 border-solid border-[2px] border-black xl:rounded-xl md:rounded-md rounded-sm flex items-center justify-center bg-white p-16;
   }
}
